{% extends "layout.html" %}

<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% block content %}
            <h1>Book Results</h1>
            {% if s %}
                <p> Hello, {{ s }}. Here are your book results. </p>
            {% else %}
                <p>Logged in, but no s value</p>
            {% endif %}
            <p> Not what you were looking for?</p>
            <a href="{{ url_for('search_page') }}"><p>Try again</p></a>
            <hr>
            {% for result in results %}
                <ul>
                    <li><a href="{{ url_for('book_details', isbn_num=results.isbn) }}">{{ result }}</a></li>
                </ul>
            {% else %}
            <div>no results given</div>
            {% endfor %}
            <p>{{ select }}</p>
            <p>{{ search_box }}</p>
            <p>{{ test_sql }}</p>
        {% endblock content %}
    </body>
</html>

