{% extends "layout.html" %}

<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% block content %}
            {% if s %}
                <h1> Hello, {{ s }} </h1>
            {% else %}
                <h1>no username session</h1>
            {% endif %}
            <p>book details</p>
            <p>isbn from database {{ book_data.isbn }}</p>
            <p>isbn from html {{ isbn_num }}</p>
            <p>Book author: {{ book_data.author }}</p>
            <p>Book title: {{ book_data.title }}</p>
            <p>Year or release: {{ book_data.year }}</p>
            <p>Amount of ratings: {{ goodreads_data["books"][0]["ratings_count"] }}</p>
            <p>Rating average: {{ goodreads_data["books"][0]["average_rating"] }}</p>
            {% if book_data.review %}
                <p>{{ book_data.review }}</p>
            {% else %}
                <form class="form-inline" method="POST" action="{{ url_for('review_post_page') }}">
                    <div class="form-group">
                        <div>
                            <input type="text" name="review" placeholder="write review here">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Give this book a number from 1-5</span>
                            <select name="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div>
                            <input type="hidden" name="isbn" value="{{ isbn_num }}">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        {% endblock content %}
    </body>
</html>

