{% extends "layout.html" %}

<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% block content %}
            <table class="table table-striped">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Year</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">GR Ratings</th>
                    <th scope="col">GR Average</th>
                </tr>
                <tr>
                    <td>{{ book_data.title }}</td>
                    <td>{{ book_data.author }}</td>
                    <td>{{ book_data.year }}</td>
                    <td>{{ book_data.isbn }}</td>
                    <td>{{ goodreads_data["books"][0]["ratings_count"] }}</td>
                    <td>{{ goodreads_data["books"][0]["average_rating"] }}</td>
                </tr>
            </table>
            {% if book_data.review %}
            {% else %}
                <form class="form" method="POST" action="{{ url_for('review_post_page') }}">
                    <div class="form-group">
                        <label for="review" class="control-label">Write your own review</label>
                        <div>
                            <textarea class="overflow-auto" rows="2" name="review" placeholder="Review"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Select book rating: </div>
                            <select name="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="hidden" name="isbn" value="{{ isbn_num }}">
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            {% endif %}
            {% if user_reviews %}
                <table class="table table-striped">
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Review</th>
                        <th scope="col">Rating</th>
                    </tr>
                {% for user_review in user_reviews %}
                    <tr>
                        <td>{{ user_review.username }}</a></td>
                        <td>{{ user_review.review }}</a></td>
                        <td>{{ user_review.rating }}</a></td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <div>No reviews available for this book</div>
            {% endif %}
        {% endblock content %}
    </body>
</html>

