{% extends "layout.html" %}

<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% block content %}
            {% if s %}
                <h1> Hello, {{ s }} </h1>
            {% else %}
                <h1>no username session</h1>
            {% endif %}
            <p>book details</p>
            <p>{{ book_data.isbn }}</p>
            <p>{{ book_data.author }}</p>
            <p>{{ book_data.title }}</p>
            <p>{{ book_data.year }}</p>
            <p>Amount of ratings: {{ goodreads_data["books"][0]["ratings_count"] }}</p>
            <p>Rating average: {{ goodreads_data["books"][0]["average_rating"] }}</p>
            {% if book_data.review %}
                <p>{{ book_data.review }}</p>
            {% else %}
                <input type="text" name="review" placeholder="Write your review">
            {% endif %}
            {% if book_data.rating %}
            {% else %}
                {{ book_data.rating }}
            {% endif %}
        {% endblock content %}
    </body>
</html>

