<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Project 1 - Goodreads</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="../static/styles/layout.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    </head>
    <body>
        <div class="card" id="top">
            <div class="card-body overflow-auto">
                {% if s %}
                    <h2>Project 1 - Goodreads: <a href="{{ url_for('search_page') }}">Home</a></h2>
                    <h3>Current user: {{ s }}</h3>
                {% else %}
                    <h2>Project 1 - Goodreads: <a href="/">Home</a></h2>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="card" id="top">
            <div class="card-body">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-body" id="bottom">
                <div>
                    <ul>
                    {% if s %}
                        <li><a href="{{ url_for('search_page') }}">Search</a></li>
                        <li><a href="{{ url_for('logout_page') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login_page') }}">Login</a></li>
                        <li><a href="{{ url_for('register_page') }}">Register</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>