{% extends "layout.html" %}

<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% block content %}
            <form class="form-horizontal" action="{{ url_for('book_page') }}"  method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <p class="input-group-addon">Please select term to search for:  </p>
                    </div>
                    <div class="input-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <select name="search_type">
                                <option value="isbn">ISBN</option>
                                <option value="title">Title</option>
                                <option value="author">Author</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 ">
                        <input type="text" class="form-control" id="search_term" name="search_term" placeholder="Search">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 ">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        {% endblock content %}
    </body>
</html>

